<!doctype html>
<html>
<head>
	<title>drawMe! server</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="leaflet/leaflet.css">
	<link rel="stylesheet" href="leaflet-draw/leaflet.draw.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	this is working!
	<div id="map"></div>
	<script src="bundle.js"></script>
</body>
</html>